
.list {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 48px 0;
  }
  
  .list li {
    display: flex;
    width: 386px;
    cursor: pointer;
    align-items: center;
    gap: 16px;
    padding: 0;
  }
  
  .game-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d6d861;
  }
  
  .list li:last-of-type .game-wrapper {
    border: none;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }
  
  .active-game .content-wrapper {
    padding: 0;
  }
  
  .game-title {
    font-size: 14px;
    font-weight: 500;
  }
  
  .game-description {
    font-size: 14px;
    color: #63635d;
  }
  
  .button {
    border-radius: 9999px;
    background: #f1f0ef;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
    color: #007aff;
  }
  
  .active-game {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 10;
  }
  
  .active-game .inner {
    display: flex;
    height: fit-content;
    width: 500px;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow: hidden;
    background: white;
    padding: 16px;
  }
  
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
  }
  
  .header-inner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
  
  .long-description {
    font-size: 14px;
    color: #63635d;
  }
  
  .overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  .wrapper {
    height: var(--spinner-size, 20px);
    width: var(--spinner-size, 20px);
  }
  
  .spinner {
    position: relative;
    top: 50%;
    left: 50%;
    height: var(--spinner-size, 20px);
    width: var(--spinner-size, 20px);
  }
  
  .bar {
    animation: spin 1.2s linear infinite;
    background: var(--spinner-color);
    border-radius: 6px;
    height: 8%;
    left: -10%;
    position: absolute;
    top: -3.9%;
    width: 24%;
  }
  
  .bar:nth-child(1) {
    animation-delay: -1.2s;
    transform: rotate(0.0001deg) translate(146%);
  }
  
  .bar:nth-child(2) {
    animation-delay: -1.1s;
    transform: rotate(30deg) translate(146%);
  }
  
  .bar:nth-child(3) {
    animation-delay: -1s;
    transform: rotate(60deg) translate(146%);
  }
  
  .bar:nth-child(4) {
    animation-delay: -0.9s;
    transform: rotate(90deg) translate(146%);
  }
  
  .bar:nth-child(5) {
    animation-delay: -0.8s;
    transform: rotate(120deg) translate(146%);
  }
  
  .bar:nth-child(6) {
    animation-delay: -0.7s;
    transform: rotate(150deg) translate(146%);
  }
  
  .bar:nth-child(7) {
    animation-delay: -0.6s;
    transform: rotate(180deg) translate(146%);
  }
  
  .bar:nth-child(8) {
    animation-delay: -0.5s;
    transform: rotate(210deg) translate(146%);
  }
  
  .bar:nth-child(9) {
    animation-delay: -0.4s;
    transform: rotate(240deg) translate(146%);
  }
  
  .bar:nth-child(10) {
    animation-delay: -0.3s;
    transform: rotate(270deg) translate(146%);
  }
  
  .bar:nth-child(11) {
    animation-delay: -0.2s;
    transform: rotate(300deg) translate(146%);
  }
  
  .bar:nth-child(12) {
    animation-delay: -0.1s;
    transform: rotate(330deg) translate(146%);
  }
  
  @keyframes spin {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.15;
    }
  }